"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b410bcdf-083f-435f-878b-d0fc582df2ff"
  "autoclose-html": {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "color-picker"
      "language-php"
      "metrics"
      "welcome"
      "atomic-emacs"
      "exception-reporting"
      "fuse"
      "language-fuse"
      "polymer-snippets"
      "emacs-flow"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/jarle/dev"
  editor:
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
".bibtex.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
".console.python.text":
  editor:
    softWrapHangingIndent: 2
".dockerfile.source":
  editor:
    softWrapHangingIndent: 2
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    softWrapHangingIndent: 2
".js.source":
  editor:
    softWrapHangingIndent: 2
".latex.log.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
".latex.tex.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
".python.regexp.source":
  editor:
    softWrapHangingIndent: 2
".python.source":
  editor:
    softWrapHangingIndent: 2
".python.text.traceback":
  editor:
    softWrapHangingIndent: 2
".tex.text":
  editor:
    preferredLineLength: 78
    softWrapHangingIndent: 2
